.chat-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-auto-columns: auto;
    gap: 10px;
    margin-top: 20px;
}

.chat-container h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.chat-container .chat-list .chat-list-items {
    max-height: calc(100vh - 110px);
    overflow-y: auto;
}

.chat-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.chat-list-item:hover{
    background-color: #f4f4f7;
    cursor: pointer;
}

.chat-list-item h4{
    font-size: 1.2rem;
}

.chat-list-item .right {
    width: 100%;
}

.chat-list-item .right .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-list-item .right .top h5 {
    color: var(--main-color);
}

.chat-list-item .profile-pic {
    width: 50px;
    height: 50px;
    min-width: 50px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-right: .5rem;
}

.individual-chat .profile-pic {
    width: 50px;
    height: 50px;
    min-width: 50px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.individual-chat {
    width: auto;
    position: relative;
    height: calc(100vh - 30px);
    background-color: white;
}

.chat-container .individual-chat .messages{
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 30px;
}

.chat-container .individual-chat form {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.chat-container .individual-chat form input {
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 100%;
    border: none;
    margin-right: 10px;
    background-color: #f4f4f7;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, .1);
}

.chat-container .individual-chat form button {
    min-width: 0px;
    width: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-main-color);
    border: none;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.chat-container .individual-chat form:focus-within button{
    width: 50px;
    min-width: 50px;
}

.chat-container .individual-chat form input:focus {
    outline: none;
}

.chat-container .individual-chat .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.chat-container .individual-chat h3.name {
    margin-bottom: 0;
}

.chat-container .individual-chat .messages .message {
    min-height: 50px;
    max-width: calc(34vw);
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 70%;
    padding: 1.2rem;
    position: relative;
}

.chat-container .individual-chat .messages .message.sent-message {
    background-color: var(--light-main-color);
    right: -30%;
}

.chat-container .individual-chat .messages .message.received-message {
    background-color: #f4f4f7;
}

.chat-container .individual-chat .messages .message .time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .7rem;
    color: gray;
}

.chat-container .back-arrow {
    display: none;
}

@media screen and (max-width: 700px) {
    .chat-container {
        display: block;
        position: relative;
    }

    .chat-container .individual-chat {
        position: absolute;
        top: 0;
        width: 100%;        
    }
    
    .chat-container .back-arrow {
        display: block;
    }

    .chat-container .back-arrow:hover {
        cursor: pointer;
    }

    .chat-container .individual-chat-no-param {
        display: none;
    }

    .chat-container .chat-list .chat-list-items {
        max-height: calc(100vh - 140px);
        overflow-y: auto;
    }

    .chat-container .individual-chat .messages {
        max-height: calc(100vh - 240px);
        overflow-y: auto;
    }

    
    .individual-chat {
        width: auto;
        position: relative;
        height: calc(100vh - 70px);
        background-color: white;
    }

}
